.left_ovalado{
	margin-left: 5px;border-radius: 5px;
}
.right_field{
	width: 200px; margin-right: 10px;
}

.th_td_left{
  text-align: left;
}

.th_td_right{
  text-align: right;
}

.th_td_center{
 text-align: center;
}

.margin5{
	margin: 5px;
}
.margin5_ovalado{
	margin: 5px; 
	border-radius: 5px;
}

.hight_scroll{
	height: 340px;
}
.ovalado5{
	 border-radius: 5px;
}